* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body {
    max-width: 1920px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1120px;
}

/* header */

.header a {
    color: #969696;
}
.connect {
    background: #000;
}
.connect__content {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #969696;
    font-size: 12px;
    line-height: 16px;
}
.info,
.login {
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__phone,
.info__workday,
.info__worktime {
    padding-left: 16px;
}
.info__phone::after,
.info__workday::after {
    content: '|';
    padding-left: 16px;
    text-align: center;
}
.login__enter {
    padding-left: 12px;
}
.login__enter::after {
    content: '/';
    padding: 0 5px;
}
.navbar-wrap {
    background: #0f0f0f;
    padding: 0;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.logo:hover {
    transition: all 0.3s ease;
    opacity: 0.8;
}
.navbar__burger {
    display: none;
}
.menu__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.menu__link {
    height: 100%;
    padding: 30px;
}
.menu__link:hover {
    background: #1f1f1f;
    color: #fff;
    transition: all 0.5s ease;
}
.menu__buy {
    padding: 20px;
}
.menu__search {
    padding: 20px 0 20px 20px;
}

/* main */

/* section 1 */

.label {
    min-height: 810px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000 url('../img/bg1.jpg') center/cover no-repeat;
    color: #fff;
}
.label__logo {
    height: 320px;
    width: 320px;
    border: 4px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label__logo_img {
    border-bottom: 4px solid #fff;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.label__logo h2 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
}
.label__text {
    height: 96px;
    max-width: 730px;
    padding-top: 80px;
}
.label__text p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

/* section 2 */

.catalogue {
    min-height: 730px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
.catalogue h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.catalogue .catalogue__line {
    width: 120px;
    height: 1px;
    background: #fff;
    margin: 50px 0;
}
.watches {
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catalogue .samples {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sample {
    width: 260px;
    height: 385px;
    margin: 0 25px;
}
.sample .watch-wrap {
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191b1c;
}
.sample .watch {
    height: 215px;
    width: 215px;
    background: #191b1c;
}
.sample .name {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 24px;
    margin: 25px 0 10px;
}
.sample .price {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #d0d0d0;
}
#carouselControls {
    display: none;
}

.catalogue__link {
    width: 100%;
    height: 730px;
    background: url('../img/catalogue.jpg') left top/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.catalogue__link span {
    margin: 30px 0;
}
.catalogue__link a {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 32px;
    margin-bottom: 100px;
}

/* section 3 */

.previous_collection {
    min-height: 600px;
    width: 100%;
    display: flex;
    background: #000;
}
.previous_collection_img {
    height: 600px;
    width: 100%;
    background: url('../img/collection.jpg') top center/cover no-repeat;
}
.previous_collection_about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.previous_collection_about h2 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.previous_collection_about span {
    width: 120px;
    height: 1px;
    background: #fff;
    margin: 40px 0;
}
.previous_collection_about p {
    max-width: 470px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}
.previous_collection_about a {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 12px 32px;
    margin: 60px 0 0 0;
}

/* section 4 */
.collection-wrap {
    background: #000;
}
.collection {
    min-height: 1290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.collection h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.collection span {
    width: 120px;
    height: 1px;
    background: #fff;
    margin: 40px 0 80px;
}
.collection .samples {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.collection .sample {
    margin: 0 7px 120px;
}

/* section 5 */

.brands-wrap {
    background: #0f0f0f;
}
.brands {
    width: 100%;
    min-height: 362px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brands h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.brands span {
    width: 120px;
    height: 1px;
    background: #fff;
    margin: 40px 0;
}
.brand_labels {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* footer */

.footer {
    min-height: 450px;
    width: 100%;
    color: #fff;
}
.shop-wrap {
    background: url('../img/footer.jpg') center/cover no-repeat;
}
.shop {
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.shop h2 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 80px 0 40px;
}
.shop p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.shop__about {
    width: 350px;
}
.shop__categories {
    width: 350px;
}
.shop__categories a {
    display: inline-flex;
    background: #0f0f0f;
    color: #d0d0d0;
    padding: 10px 20px;
    margin: 10px;
}
.shop__categories a:hover {
    background: #1f1f1f;
    color: #fff;
    transition: all 0.5s ease;
}
.shop__mailing {
    width: 350px;
}
.shop__mailing input {
    width: 210px;
    height: 40px;
    background: #ffffff66;
    padding: 10px;
    border: none;
    margin: 0 0 16px;
}
.shop__mailing input::placeholder {
    color: #d0d0d0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    padding: 10px;
}
.shop__mailing input:focus {
    outline: none;
}
.shop__mailing button {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    outline: none;
}

.bottom-wrap {
    background: #0f0f0f;
}
.bottom {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #d0d0d0;
}

@media (max-width: 1200px) {
    /* header */

    /* section 1 */

    /* section 2 */

    .catalogue {
        flex-wrap: wrap;
    }
    .watches {
        height: 640px;
    }
    .catalogue__link {
        height: 555px;
    }

    /* section 3 */

    .previous_collection {
        flex-wrap: wrap;
    }
    .previous_collection_img {
        height: 555px;
    }
    .previous_collection_about {
        padding: 40px 0;
    }
    .previous_collection_about a {
        margin: 40px 0;
    }

    /* section 4 */

    .collection .sample {
        margin: 0 7px 60px;
    }

    /* section 5 */
    .brand_labels {
        flex-wrap: wrap;
    }

    /* footer */
}
@media (max-width: 992px) {
    /* header */

    /* section 1 */

    /* section 2 */

    /* section 3 */

    /* section 4 */

    /* section 5 */

    /* footer */
}

@media (max-width: 768px) {
    /* header */

    .info__workday,
    .info__worktime,
    .info__phone::after,
    .info__workday::after {
        display: none;
    }
    .navbar-wrap .container {
        padding: 0;
    }
    .logo {
        margin-left: 12px;
    }
    .navbar__burger {
        display: block;
        position: relative;
        width: 25px;
        height: 16px;
        margin-right: 12px;
    }
    .navbar__burger span {
        background: #fff;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 7px;
        transition: all 0.5s;
    }
    .navbar__burger:before,
    .navbar__burger:after {
        content: '';
        background: #fff;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        transition: all 0.3s;
    }
    .navbar__burger:before {
        top: 0;
    }
    .navbar__burger:after {
        bottom: 0;
    }
    .navbar__burger.open span {
        transform: scale(0);
    }
    .navbar__burger.open:before {
        transform: rotate(-45deg);
        top: 7px;
        transition: all 0.3s;
    }
    .navbar__burger.open:after {
        transform: rotate(45deg);
        bottom: 7px;
        transition: all 0.3s;
    }
    .menu {
        position: absolute;
        width: 100%;
        background: #212529;
        top: 80px;
        left: 0;
        height: 300px;
        transform: translateX(+100%);
        opacity: 0;
        transition: all 0.5s;
        z-index: -1;
    }
    .menu.open {
        transform: translatex(0);
        opacity: 0.9;
        z-index: 1;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
    }
    .menu li {
        margin: 12px;
    }
    .menu__search {
        padding: 20px;
    }
    /* section 1 */

    /* section 2 */

    .catalogue .watches {
        height: 550px;
    }
    .catalogue .catalogue__line {
        width: 120px;
        height: 1px;
        background: #fff;
        margin: 25px 0;
    }
    .catalogue .samples {
        display: none;
    }
    #carouselControls {
        display: block;
    }
    .carousel .name {
        margin: 12px 0 5px;
    }
    .carousel-control-prev span,
    .carousel-control-next span {
        opacity: 0;
    }

    /* section 3 */
    .previous_collection_img {
        height: 300px;
    }
    .previous_collection_about {
        padding: 20px 0;
        margin: 0 20px;
    }

    /* section 4 */

    .collection h2 {
        padding: 10px 0 0;
    }

    /* section 5 */

    /* footer */
    .shop {
        flex-wrap: wrap;
    }
    .shop h2 {
        margin: 20px 0;
    }
}
